<!DOCTYPE html>
<html lang="en" ng-app="loginApp">

<head>
  <meta charset="UTF-8" />
  <title>login</title>
</head>

<body>
  <table ng-controller="loginController" border="1" cellspacing="0" cellpadding="0">
    <tr>
      <td>用户名：</td>
      <td>
        <input type="text" ng-model="user.username" />
      </td>
    </tr>
    <tr>
      <td>密码：</td>
      <td>
        <input type="password" ng-model="user.password" />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>
        <input type="button" value="登录" ng-click="login()" />
      </td>
    </tr>
    <tr>
      <td></td>
      <td>{{message}}</td>
    </tr>
  </table>
  <script src="node_modules/angular/angular.js"></script>
  <script>
  // 创建一个模块
  var app = angular.module('loginApp', []);
  // 注册一个控制器
  app.controller('loginController', ['$scope', function($scope) {
    // 数据
    $scope.user = {
      username: '',
      password: ''
    };
    // 行为数据
    $scope.login = function() {
      // 因为数据的变化是双向传递的，所以界面上的值会自动同步到$scope中
      console.log($scope.user);
    };
    $scope.message = '请输入用户名';
    $scope.$watch('user.username', function(now, old) {
      // console.log('now is ' + now);
      // console.log('old is ' + old);
      if (now) {
        if (now.length < 7) {
          $scope.message = '输入格式不正确';
        } else {
          $scope.message = '';
        }
      } else {
        $scope.message = '请输入用户名';
      }
    });
    // angular基本不操作DOM，如果必要，可以使用angular提供的jqlite
  }])
  </script>
</body>

</html>
