<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>手动设置两个模块</title>
</head>

<body>
  <!-- angular虽然可以在一个页面使用多个模块，但是建议只是用一个 -->
  <!-- angular找到第一个ng-app后就不会再往下找第二个ng-app -->
  <!-- 创建多个ng-app时，默认只会执行第一个ng-app。后面的需要手动去引导：angular.bootstrap -->
  <input type="button" value="1111" ng-app="myApp1" ng-controller="myApp1Controller" ng-click="do1()" />
  <input type="button" value="2222" ng-app="myApp2" ng-controller="myApp2Controller" ng-click="do2()" />
  <script src="node_modules/angular/angular.js"></script>
  <script>
  var myApp1 = angular.module('myApp1', []);
  myApp1.controller('myApp1Controller', ['$scope', function($scope) {
    $scope.do1 = function() {
      console.log(11111);
    }
  }]);
  var myApp2 = angular.module('myApp2', []);
  myApp2.controller('myApp2Controller', ['$scope', function($scope) {
      $scope.do2 = function() {
        console.log(22222);
      }
    }])
    // 通过angular.bootstrap方法可以手动调用第二个模块
  angular.bootstrap(document.querySelector('[ng-app="myApp2"]'), ['myApp2']);
  </script>
</body>

</html>
